# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.Python

# Django-related
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Django Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py  # 初期化ファイルは除外しない（必要）

# VSCode
.vscode/

# JetBrains IDEs (PyCharm, etc.)
.idea/

# OS
.DS_Store
Thumbs.db

# dotenv environment variables
.env
*.env

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Other
*.swp
*.swo
